<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }} - Suena La Web VE</title>
    {{ partial "favicons.html" . }}

    {{ $styles := resources.Get "css/main.css" | postCSS (dict "config" "./postcss.config.js") | minify | fingerprint }}
    <link rel="icon" href="{{ "/favicon.ico" | absURL }}">

    </head>
<body class="antialiased dark">
    </body>
</html>