<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }} - Suena La Web VE</title>
    {{ partial "favicons.html" . }}

    {{ $styles := resources.Get "css/main.css" | postCSS (dict "config" "./postcss.config.js") | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">

    </head>
<body class="antialiased dark">

    {{- partial "header.html" . -}}

    <div id="main-content">
        {{ block "main" . }}{{ end }}
    </div>

    {{- partial "footer.html" . -}}

    {{- partial "player.html" . -}}

    {{ $mainJs := resources.Get "js/main.js" | js.Build }}
    <script src="{{ $mainJs.Permalink }}"></script>

</body>
</html>